.checkProp {
    // width: 25%;
    // padding: 10px 5px;
    border-top: 1px solid #dfdcdc;
    cursor: pointer;
    display: inline-block;
}

.colunmCheckbox {
    cursor: pointer;
}

.invoiceHeader {
    width: 100%;
    display: inline-block;
    padding: 20px 0;
    text-align: center;
    border-right: 1px solid #dfdcdc;
}

.invoiceHeaderLeft {
    width: 100%;
    display: inline-block;
    padding: 20px 0;
    text-align: center;
    border: 1px solid #dfdcdc;
    border-left: 1px solid transparent;
}

.invoiceHeaderRight {
    width: 100%;
    display: inline-block;
    padding: 20px 0;
    text-align: center;
    border: 1px solid #dfdcdc;
    border-right: 1px solid transparent;
}

.customSubmit {
    margin: 10px;
    background: transparent;
    border: 1px solid #0075ff;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
}

.showBorder {
    border-bottom: 1px solid #dfdcdc;
}

.hideBorder {
    border-bottom: 1px solid transparent;
}
