.checkProp {
    padding: 10px 5px;
    border-bottom: 1px solid #dfdcdc;
    cursor: default;
}

.colunmCheckbox {
    cursor: pointer;
}

.customSubmit {
    margin: 10px;
    background: transparent;
    border: 1px solid #0075ff;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
}